body {
  margin: 0;
  padding: 0;

  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #898f9f;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.logo-slogan-create {
  font-size: 40px;
  line-height: 90px;
  font-weight: 300;
  color: #dbdbdb;
}

.logo-slogan-designs {
  font-size: 100px;
  line-height: 100px;
  font-weight: 900;
  color: #d22425;
  text-transform: uppercase;
}

.logo-slogan-make,
.logo-slogan-proud {
  font-size: 70px;
  line-height: 100px;
  font-weight: 300;
  color: #dbdbdb;
}

.logo-slogan-you {
  font-size: 70px;
  line-height: 100px;
  font-weight: 300;
  color: #000000;
}

.title {
  font-family: "Playfair Display", Times, serif;
  font-weight: 400;
}

h2 {
  font-size: 60px;
  line-height: 122px;
  color: #333333;
}

h3 {
  font-size: 111px;
  line-height: 135px;
  color: #5a5a5a;
  opacity: 0.03;
}

.product-description {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #393939;
  text-transform: uppercase;
}

.ideas-title-description {
  font-size: 14px;
  line-height: 20px;
  color: #717171;
}

.main-ideas-blog {
  font-size: 17px;
  line-height: 28px;
  font-weight: 700;
  color: #d22425;
}

.ideas-decoration-title {
  font-size: 60px;
  line-height: 122px;
}

.ideas-decoration-slogan {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 122px;
  font-weight: 700;
  color: #d22425;
  text-transform: uppercase;
}

.main-works-list {
  list-style: none;
}

h4 {
  font-size: 36px;
  line-height: 40px;
  color: #333333;
}

.main-works-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.main-works-link {
  font-size: 14px;
  line-height: 122px;
  font-weight: 700;
  color: #d22425;
  text-transform: uppercase;
}

.contact-title-description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.main-footer {
  font-size: 14px;
  line-height: 122px;
  font-weight: 700;
}

.footer-copyright {
  color: #dbdbdb;
}

.footer-copyright-link {
  color: #d22425;
}
