.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}
.container {
  width: 1171px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  min-width: 1376px;
  min-height: 102px;
  padding: {
    left: 18.7%;
    right: 8.5%;
  }
}

.header-logo {

}

.hamburger-button {
  margin: 0;
  padding: 0;
}

.main-initial {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

  min-height: 620px; //Стили для сетки
  margin-bottom: 210px;
  padding: {
    top: 246px;
    right: 0;
    bottom: 0;
    left: 21%;
  }
}

.logo-slogan {
  width: 612px;
  margin: {
    top: 0;
    right: 0;
    bottom: 306px;
    left: 0;
  }
  padding: 0;
  z-index: 1;
}

.main-product {
  position: relative;

  min-height: 592px; //Стили для сетки
  margin-bottom: 258px;
}

h2, h3, h4 {
  display: block;

  margin: 0;
  padding: 0;
}

.shadow-title {
  position: absolute;
  top: 40px;
  left: -100px;
}

.product-description {
  display: block;

  margin: {
    top: 0;
    right: 0;
    bottom: 45px;
    left: 52px;
  }
  padding: 0;
}

.section-product {
  width: 465px;
  margin: {
    top: 0;
    right: 0;
    bottom: 30px;
    left: 52px;
  }
  padding: 0;
}

.main-ideas {
  position: relative;

  min-height: 925px; //Стили для сетки
  margin-bottom: 285px;
}

.ideas-title-description {
    width: 423px;
    margin: {
      top: 0;
      right: 0;
      bottom: 42px;
      left: 209px;
    }
    padding-top: 6px;
}

.section-about-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 780px;
    height: 635px;

    margin-left: 100px;
}

.section-about {
  width: 365px;
  margin: {
    top: 0;
    right: 55px;
    bottom: 30px;
    left: 0;
  }
  padding: 0;
}

.about-inspiration {
  margin-top: 55px;
}

.main-ideas-decoration {
  position: absolute;
  top: 420px;
  right: -12px;

  width: 360px;
  height: 100px;

  text-align: center;
  vertical-align: middle;

  transform: rotate(-90deg);
}

.main-ideas-decoration span {
  display: block;
  margin: 0;
  padding: 0;
}

.main-ideas-decoration .ideas-decoration-title {
  margin-bottom: 25px;
}

.main-ideas-decoration .ideas-decoration-slogan {
  position: relative;
  margin-left: 23px;
}

.main-works {
  position: relative;

  min-height: 510px; //Стили для сетки
  margin-bottom: 288px;
  padding-left: 19.2%;
}

.main-works .page-title {
    margin-bottom: 105px;
}

.main-works .shadow-title {
  top: 20px;
  left: 265px;
}

.main-works-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

  margin: 0;
  padding: 0;
}

.main-works-item {
  display: block;
  box-sizing: border-box;

  width: 375px;
  height: 260px;

  margin: {
    top: 0;
    right: 0;
    bottom: 23px;
    left: 20px;
  }
  padding: 0;
  &:first-child {
    margin-left: 0;
  }
}

.main-works-item:last-child {
  width: 350px;
}

.main-works-text {
  width: 255px;
}

.main-contact {
  position: relative;

  min-height: 580px; //Стили для сетки
  margin-bottom: 168px;
}

.contact-shadow-title {
  top: 250px;
  left: -220px;
  transform: rotate(-90deg);
}

.contact-title-description {
  width: 296px;
  margin: {
    top: 19px;
    right: 0;
    bottom: 50px;
    left: 0;
  }
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;

  width: 1032px;
  height: 350px; //Стили для сетки
  margin-left: 138px;
}

.contact-us-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.contact-us-form .contact-us-item-text {
  margin-bottom: 65px;
}

.contact-us-item input {
  display: block;
  width: 400px;
  height: 60px;
  margin: {
    top: 0;
    right: 0;
    bottom: 20px;
    left: 0;
  }
  padding: 0;
}

.contact-us-item-text textarea {
  display: block;
  width: 562px;
  height: 225px;
  margin: 0;
  padding: 0;
  resize: none;
}

.contact-us-send {
  align-self: flex-end;

  display: block;
  width: 128px;
  height: 50px;
}

.main-footer {
  position: relative;

  padding-left: 150px;

  min-height: 154px;
}
