body {
  width: 100%;
  margin: 0;
  padding: 0;

  font: {
    family: "Nunito Sans", Arial, sans-serif;
    size: 17px;
  }
  line-height: 28px;
  color: $main-text-color;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
label.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-slogan-make {
  color: $slogan-reg-color;
}

.logo-slogan-proud {
  @extend .logo-slogan-make;
  color: $slogan-reg-color;
}

.logo-slogan-you {
  @extend .logo-slogan-make;
  color: $black;
}

.product-description {
  color: $product-subtitle-color;
  text-transform: uppercase;
}

.section-product {
  @extend .main-text;
  font-weight: 400;
  color: $main-text-color;
}

.ideas-title-description {
  @extend .small-text;
  line-height: 20px;
  color: $ideas-subtitle-color;
  font-weight: 400;
}

.section-about {
  @extend .main-text;
  font-weight: 400;
  color: $main-text-color;
}

.main-ideas-blog {
  @extend .main-text;
  font-weight: 700;
  color: $red-accent-color;
}

.ideas-decoration-title {
  @extend .page-title;
}

.ideas-decoration-slogan {
  @extend .rubric-subtitle;
  color: $red-accent-color;
}

.main-works-list {
  list-style: none;
}

.main-works-text {
  @extend .small-text;
  line-height: 24px;
  font-weight: 400;
  color: $main-text-color;
}

.main-works-link {
  @extend .small-text;
  font-weight: 700;
  color: $red-accent-color;
  text-transform: uppercase;
}

.contact-title-description {
  @extend .small-text;
  line-height: 24px;
  font-weight: 400;
  color: $main-text-color;
}


.contact-us-item input,
.contact-us-item-text textarea {
  @extend .contact-us-form;
}

.contact-us-send {
  @extend .rubric-subtitle;
  color: $white;
}

.main-footer {
  @extend .small-text;
  line-height: 20px;
  font-weight: 700;
}

.footer-copyright {
  color: $slogan-reg-color;
  z-index: 1;
}

.footer-copyright-link {
  color: $red-accent-color;
}
