body {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.logo-slogan-create {

}

.logo-slogan-designs {

}

.logo-slogan-make {

}

.logo-slogan-proud {
  @extend .logo-slogan-make;
  color: #dbdbdb;
}

.logo-slogan-you {
  @extend .logo-slogan-make;
  color: #000000;
}

.product-description {
  color: #393939;
  text-transform: uppercase;
}

.ideas-title-description {
  line-height: 20px;
  color: #717171;
  font-weight: 400;
}

.main-ideas-blog {
  @extend .main-text
  font-weight: 700;
  color: #d22425;
}

.ideas-decoration-title {
  @extend .page-title;
}

.ideas-decoration-slogan {
  @extend .rubric-subtitle;
  color: #d22425;
}

.main-works-list {
  list-style: none;
}

.main-works-text {
  @extend .small-text;
  line-height: 24px;
  font-weight: 400;
}

.main-works-link {
  @extend .small-text;
  font-weight: 700;
  color: #d22425;
  text-transform: uppercase;
}

.contact-title-description {
  @extend .small-text;
  line-height: 24px;
  font-weight: 400;
}

.main-footer {
  @extend .small-text;
  line-height: 20px;
  font-weight: 700;
}

.footer-copyright {
  color: #dbdbdb;
}

.footer-copyright-link {
  color: #d22425;
}
