$white: #ffffff;
$main-text-color: #898f9f;
$slogan-reg-color: #dbdbdb;
$red-accent-color: #d22425;
$black: #000000;
$title-color: #333333;
$shadow-title-color: rgba(#5a5a5a, 0.03);
$product-subtitle-color: #393939;
$ideas-subtitle-color: #717171;
$form-border: 2px solid #4c4c4c;
$border: 2px solid #e4e4e4;
